[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "@openzeppelin/contracts/token/ERC20/IERC20.sol/lib/forge-std"]
	path = @openzeppelin/contracts/token/ERC20/IERC20.sol/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
